@model Prospectus.Models.PlayerListModel
@{
    ViewData["Title"] = "Index";
}
<div class="qbContainer">
<div class="container qbPhoto">
    <div class="col-6 qbTextContainer">
        <h2 class="text qbText">
            2020 Quarterback Statistics
        </h2>
    </div>
</div>
<div>
    
</div>
<div class="container p-3 statTable">
        @* If our model has quarterbacks in the db, print them to the following table *@
        @if(Model.BasicStatList.Count() > 0)
    {
        <h2 class="primaryLionsText tableTitle">Table of Statistics</h2>
        <table id="qbTable" class=""table-bordered table-striped table" style="width:100%">
            <thead>
                <tr> 
                    <th>
                        Player Name
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        COMPs
                    </th>
                    <th>
                        ATTs
                    </th>
                    <th>
                        COMP %
                    </th>
                    <th>
                        Pass YDs
                    </th>
                    <th>
                        YPA
                    </th>
                    <th>
                        TDs
                    </th>
                    <th>
                        INTs
                    </th>
                </tr>
            </thead>
            @* Loop through the objects in our model to form the rows of our table *@
            <tbody>
                @foreach(var obj in Model.BasicStatList)
                {
                    <tr>
                        <td width="10%">
                            @obj.PlayerName
                        </td>
                        <td width="5%">
                            @obj.TeamName
                        </td>
                        <td width="5%">
                            @obj.completions
                        </td>
                        <td width="5%">
                            @obj.attempts
                        </td>
                        <td width="5%">
                            @* Round decimals to the correct number of decimal places *@
                            @Math.Round(obj.completion_percent,1)
                        </td>
                        <td width="5%">
                            @obj.yards
                        </td>
                        <td width="5%">
                            @Math.Round(obj.ypa,1)
                        </td>
                        <td width="5%">
                            @obj.touchdowns
                        </td>
                        <td width="5%">
                            @obj.interceptions
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @* If no quarterbacks exist in the database, do not print the table. Print a P element. *@
    else
    {
        <p> No Players Exist in Database </p>
    }
</div>
<div class="container contact">
    <div class="col">
        <h2 class="primaryLionsText row mainContact">
            Contact
        </h2>
    </div>
      <div class="row">
    <div class="col">
        <h4 class="contactHeader">
            Address
        </h4>
    </div>
    <div class="col">
        <h4 class="contactHeader">
            Email
        </h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <a href="https://goo.gl/maps/ynuMq45S1yUtrj6e6">222 Republic Dr, Allen Park, MI 48101</a>
    </div>
    <div class="col">
        <a href = "mailto: Detroit.Lions@Nfl.net">Detroit.Lions@Nfl.net</a>
    </div>
  </div>
</div>

</div>