@model IEnumerable<Player>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4" >
        <div class="col-6">
            <h2 class="text-primary">
                2020 Quarterback Statistics
            </h2>
        </div>
        <div class="col-6">
            <br /><br />
        </div>
    </div>
        @if(Model.Count() > 0)
    {
        <table id="qbTable" class=""contenteditable table-bordered table-striped table" style="width=100%">
            <thead>
                <tr>
                    <th>
                        Player Name
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        COMPs
                    </th>
                    <th>
                        ATTs
                    </th>
                    <th>
                        COMP %
                    </th>
                    <th>
                        Pass YDs
                    </th>
                    <th>
                        YPA
                    </th>
                    <th>
                        TDs
                    </th>
                    <th>
                        INTs
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td width="10%">
                            @obj.player
                        </td>
                        <td width="5%">
                            @obj.team_name
                        </td>
                        <td width="5%">
                            @obj.completions
                        </td>
                        <td width="5%">
                            @obj.attempts
                        </td>
                        <td width="5%">
                            @Math.Round(obj.completion_percent,1)
                        </td>
                        <td width="5%">
                            @obj.yards
                        </td>
                        <td width="5%">
                            @Math.Round(obj.ypa,1)
                        </td>
                        <td width="5%">
                            @obj.touchdowns
                        </td>
                        <td width="5%">
                            @obj.interceptions
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table id="qbTable2" class=""contenteditable table-bordered table-striped table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Player Name
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Avg. Depth of Target
                    </th>
                    <th>
                       Avg. Time to Throw
                    </th>
                    <th>
                        Drops
                    </th>
                    <th>
                        Drop Rate
                    </th>
                    <th>
                        TO Worthy Plays
                    </th>
                    <th>
                        TWP Rate
                    </th>
                    <th>
                        PFF Pass Grade
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td width="10%">
                            @obj.player
                        </td>
                        <td width="5%">
                            @obj.team_name
                        </td>
                        <td width="5%">
                            @Math.Round(obj.avg_depth_of_target,1)
                        </td>
                        <td width="5%">
                            @Math.Round(obj.avg_time_to_throw,2)
                        </td>
                        <td width="5%">
                            @obj.drops
                        </td>
                        <td width="5%">
                            @Math.Round(obj.drop_rate,1)
                        </td>
                        <td width="5%">
                            @obj.turnover_worthy_plays
                        </td>
                        <td width="5%">
                            @Math.Round(obj.twp_rate,1)
                        </td>
                        <td width="5%">
                            @Math.Round(obj.grades_pass,1)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No Players Exist in Database </p>
    }
</div>