@model Prospectus.Models.PlayerListModel
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4" >
        <div class="col-6">
            <h2 class="text-primary">
                2020 Quarterback Statistics
            </h2>
        </div>
        <div class="col-6">
            <br /><br />
        </div>
    </div>
        @* If our model has quarterbacks in the db, print them to the following table *@
        @if(Model.BasicStatList.Count() > 0)
    {
        <table id="qbTable" class=""contenteditable table-bordered table-striped table" style="width=100%">
            <thead>
                <tr>
                    <th>
                        Player Name
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        COMPs
                    </th>
                    <th>
                        ATTs
                    </th>
                    <th>
                        COMP %
                    </th>
                    <th>
                        Pass YDs
                    </th>
                    <th>
                        YPA
                    </th>
                    <th>
                        TDs
                    </th>
                    <th>
                        INTs
                    </th>
                </tr>
            </thead>
            @* Loop through the objects in our model to form the rows of our table *@
            <tbody>

                @foreach(var obj in Model.BasicStatList)
                {
                    <tr>
                        <td width="10%">
                            @obj.PlayerName
                        </td>
                        <td width="5%">
                            @obj.TeamName
                        </td>
                        <td width="5%">
                            @obj.completions
                        </td>
                        <td width="5%">
                            @obj.attempts
                        </td>
                        <td width="5%">
                            @* Round decimals to the correct number of decimal places *@
                            @Math.Round(obj.completion_percent,1)
                        </td>
                        <td width="5%">
                            @obj.yards
                        </td>
                        <td width="5%">
                            @Math.Round(obj.ypa,1)
                        </td>
                        <td width="5%">
                            @obj.touchdowns
                        </td>
                        <td width="5%">
                            @obj.interceptions
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @* If no quarterbacks exist in the database, do not print the table. Print a P element. *@
    else
    {
        <p> No Players Exist in Database </p>
    }
</div>